.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #adadad;
    --tick: #fff;
    position: relative;
}

.checkbox input,
svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1.2px) var(--b, #BBC1E1);
}

.checkbox input:hover {
    --s: 2px;
    --b: #BBC1E1;
}

.checkbox input:checked {
    --b: #adadad;
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, #DB3B2B);
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
}


/*path*/

.checkbox.path input:checked {
    --s: 2px;
    transition-delay: .4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}


/*bounce*/

.checkbox.bounce {
    --stroke: #fff;
}

.checkbox.bounce input:checked {
    --s: 11px;
    box-shadow: inset 0 0 0 var(--s, 1px) #DB3B2B;
}

.checkbox.bounce input:checked+svg {
    animation: bounce .4s linear forwards .2s;
}

.checkbox.bounce svg {
    --scale: 0;
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}