/*
*/

body {
    color: #222222;
}

/* Defines position banner */

.container-home-1 {
    margin-top: 16px;
}

@media (min-width: 768px) {
    .container-home-1 {
        margin-top: 7px;
    }
}

@media(min-width: 1183px) {
    .headerBackground {
        background-color: #ffffffe0;
    }
}

@media(max-width: 1182px) {
    .headerBackground {
        background-color: #ffffff;
    }
}

.smallClientBanners h1 {
    font-size: 1.2rem;
}

@media(min-width: 768px) {
    .smallClientBanners h1 {
        font-size: 2rem;
    }
}

@media(max-width: 991px) {
    .smallClientBanners .btn-red {
        width: fit-content;
        padding: 10px 4vw;
        text-align: center;
    }
}

.clientBannersOver {
    top: 7%;
    max-height: 210px;
}

@media(min-width: 992px) {
    .clientBannersOver {
        top: 50px;
        max-height: 288px;
        /* max-height: 330px;*/
        /*max-height: 450px;*/
    }
}

.img-lc{
    text-align: center !important;
}

.img-bg{
    width: 546px;
    height: 364px;
    background: url('../img/requisitos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 600;
}

/* BANNER */
.iframe-movil{
    height: 230px;
}

.title-h1,
.title-h4{
    color: #000;
    font-size: 1.1em !important;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5em;
}

/* INFO */
.info-h2{
    color:#c52d1d;
    font-size: 1.5em;
    font-weight: 700;
}

.info-p{
    font-size: 0.9em;
}

.info-ul{
    padding: 0 0 0 0.8rem;

}

.info-ul li{
    list-style: none;
    padding: 0.4em 0;
    font-size: 0.9em;
    font-weight: 600;
}

.info-ul li::before{
    /*font-size: 9pt;*/
    content: "•";
	color: #c52d1d;
	display: inline-block;
	width: 1em;
	margin-left: -1.4em;
}

.info-btn{
    display: flex;
    justify-content: center;
}

.btn-red{
    height: 40px;
    font-family: 'Muli';
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4em;
    cursor: pointer;
    margin: 0.2em 0 0.8em 0;
}

.btn-red.primary {
    background-color: #db3b2b;
    color: white;
    /*font-weight: bold;*/
}

.btn-red.primary:hover {
    background-color: #c52d1d;
}

.btn-red.primary:hover[disabled]:hover {
    background-color: transparent;
    color: #9e9e9e;
}

.btn-red.primary[disabled] {
    background-color: #bebebe;
    color: #9e9e9e;
}

.btn-red.primary:hover:not([disabled]):hover {
    background-color: #c52d1d;
}

/* FOOTER */
._footer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #db3b2b;
    padding: 30px 0 15px;
}

._footer ul {
    cursor: pointer;
}

._footer a {
    color: white;
}

._footer a:hover,
._footer a:target,
._footer a:focus,
._footer a:active {
    color: #db3b2b;
    outline: none;
    text-decoration: none;
}

._footer-logo {
    display: block;
    max-width: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

._pounch-line-footer {
    color: black;
    font-size: 18px;
    line-height: 23px;
}

._footer-navs {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
}

._footer-navs ul {
    padding: 0;
    margin: 7px 25px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 98.3%;
}

._footer-navs ul li {
    list-style: none;
    display: block;
    font-size: 12px;
}

._footer-navs ul li a {
    color: black;
}

._footer-navs ul li a:hover {
    outline: none;
    text-decoration: none;
}

._social-footer {
    display: flex;
    justify-content: space-around;
}

._social-footer a {
    display: inline-flex;
    width: 28px;
    height: 28px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 7px;
    transition: all 500ms ease;
    position: relative;
    align-items: center;
    justify-content: center;
}

._social-footer a img {
    padding: 4px;
    height: 34px;
    color: black;
}

._social-footer a:hover,
._social-footer a:focus,
._social-footer a:target {
    background-color: #db3b2b;
    border-color: #db3b2b;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
}

._social-footer.bluercolor a {
    background-color: #db3b2b;
    border-color: #db3b2b;
    margin-right: 9px;
}

._social-footer.bluercolor a:hover,
._social-footer.bluercolor a:focus,
._social-footer.bluercolor a:target {
    background-color: #db3b2b;
    border-color: #db3b2b;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
}

._text-footer{
    font-size:10px;
    text-align: center; 
    color:#db3b2b;
}

/* RESPONSIVE */
@media(max-width: 1024px){
    .button-t1, 
    .btn-red{
        width: 245px;
        font-size: 1.4em;
        font-weight: 600 !important;
        padding: 28px 0 !important;
        margin-bottom: 0px !important;
    }
    .title-h1, 
    .title-h4{
        font-size: 1.5em !important;
        padding: 0 4%;
    }
    .btn-pt{
        padding-top: 3rem !important;
    }
    .img-m{
        width: 220px;
    }
    .text-titm{
        font-size: 1.6em;
    }
    .text-desm{
        font-size: 1.2em;
        font-weight: 600;
    }
    .info-ul{
        padding: 0 0 0 1.8rem;
    }
    .info-ul li{
        font-size: 1.3em;
    }
    .img-lc{
        text-align: left !important;
    }
    .img-lc img{
        width: 148px;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    .info-p{
        font-size: 1.2em;
    }
    ._footer-logo{
        max-width: 90px;
        margin-left:28px;
    }
    ._social-footer{
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 15%;
        padding-right: 15%;
    }
    ._text-footer{
        font-size: 0.9em;
        font-weight: 600;
    }
}
@media(max-width: 768px){
    .h2{
        font-size: 1.4em;
        font-weight: 700;       
    }
    .h5{
        font-size: 2.1em;
        font-weight: 600;
    }
    ._footer-navs ul li a{
        font-size: 1.3em;
        font-weight: 600;
    }
}
@media(max-width: 576px) {
    .adj-ima{
        margin: 0 !important;
        padding: 0 0 1rem 0;
    }
    .img-bg{
        height: 398px;
    }
}